@layer components {
  .section {
    padding-left: clamp(110px, 10vw, 192px);
    padding-right: clamp(48px, 6vw, 128px);

    &:focus {
      outline: none;
    }

    @media (--mediaMobile), (--mediaMobileLS) {
      padding-left: var(--spaceOuter);
      padding-right: var(--spaceOuter);
    }

    @media (max-width: 820px) and (max-height: 420px) {
      padding-left: var(--space4XL);
      padding-right: var(--space4XL);
    }
  }
}
